!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Congratulations! You challenged #{@acceptor.username} to #{@dare.challenge.name}
    %p
      Let see what #{@acceptor.username} is made of!
    %p
      You can follow #{@acceptor.username}'s progress 
      = link_to 'here', challenge_dare_path(@dare.challenge_id, @dare)
      %br/
