%h1
  Who do you want to challenge?

- if @dare.errors.any?
  %h2
    = "#{pluralize(@dare.errors.count, "error")} prohibited this dare from being saved:"
    %ul
      - @dare.errors.full_messages.each do |msg|
        %li= msg


= form_tag users_search_path, method: :get, remote: true do 
  %p
    = hidden_field_tag 'challenge', params[:challenge_id]
    = text_field_tag :query, params[:query]
    = submit_tag "Search", name: nil, id: 'search_for_users'

#user_search_result


