.text-center
  %h1
    Who do you want to challenge to 
  %h1.text-danger
    = @challenge.name
    ?

- if @dare.errors.any?
  %h2
    = "There was a problem:"
    %ul
      - @dare.errors.full_messages.each do |msg|
        %li= msg

#select_acceptor.panel-group
  / .panel.panel-default
  /   .panel-heading
  /     %h4.panel-title
  /       %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#friends"}
  /         Friends
  /   #friends.panel-collapse.collapse.in.select_user
  /     .panel-body
  /       Coming soon!
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#ranking"}
          Ranking
    #ranking.panel-collapse.collapse.select_user
      .panel-body
        = render 'users/ranking'
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#search_box"}
          Find by name/email
    #search_box.panel-collapse.collapse.select_user
      .panel-body
        = render 'users/search_box'
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#invite"}
          Invite your friends
    #invite.panel-collapse.collapse.select_user
      .panel-body
        .col-md-6
          = render 'users/invite'

#user_search_result





