%h1
  Who do you want to challenge?

- if @dare.errors.any?
  %h2
    = "There was a problem:"
    %ul
      - @dare.errors.full_messages.each do |msg|
        %li= msg

#select_acceptor.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#friends"}
          Friends
    #friends.panel-collapse.collapse.in.select_user
      .panel-body
        Friends go here
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#unhonored"}
          Champions
    #unhonored.panel-collapse.collapse.select_user
      .panel-body
        Fill in later
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#search_box"}
          Find by name/email
    #search_box.panel-collapse.collapse.select_user
      .panel-body
        = form_tag users_search_path, method: :get, remote: true do 
          %p
            = hidden_field_tag 'challenge', params[:challenge_id]
            = text_field_tag :query, params[:query], data: {autocomplete_source: users_autocomplete_path}
            = submit_tag "Search", name: nil, id: 'search_for_users'
      #user_search_result






