.text-center
  %h1
    Who do you want to challenge to 
  %h1.text-danger
    = @challenge.name
    ?

- if @dare.errors.any?
  %h2
    = "There was a problem:"
    %ul
      - @dare.errors.full_messages.each do |msg|
        %li= msg

#select_acceptor.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#friends"}
          Friends
    #friends.panel-collapse.collapse.in.select_user
      .panel-body
        Friends go here
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#unhonored"}
          They need more challenges!
    #unhonored.panel-collapse.collapse.select_user
      .panel-body
        = render 'users/most_failed'
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#champions"}
          The Fearless ones!
    #champions.panel-collapse.collapse.select_user
      .panel-body
        = render 'users/most_success'
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#select_acceptor", "data-toggle" => "collapse", :href => "#search_box"}
          Find by name/email
    #search_box.panel-collapse.collapse.select_user
      .panel-body
        = render 'users/search_box'

#user_search_result





