
%h2
  #{@dare.challenger.username} has challenged #{@dare.acceptor.username} to #{@dare.challenge.name} challenge!

- if @dare.rejected?
  %h2
    #{@dare.acceptor.username} has rejected the challenge:(

- else
  Started on:
  = @dare.created_at

  - if @dare.times_up?
    Time for finishing this challenge has ended on 
  - else
    %br
    Finishing in:
    %time{"data-livestamp" => (@dare.created_at + 7.days).to_i}

  -if user_signed_in?
    - if current_user.accepted_dares.include? @dare 
      - unless @dare.times_up? && @dare.unresolved?
        = form_for([@dare.challenge, @dare]) do |f|
          = f.label :vid_link
          = f.text_field :vid_link
          = f.submit "Upload Youtube Video", class: "btn btn-success"

  - if @dare.utube_link?
    %h3
      Proof uploaded by #{@dare.acceptor.username}
    - @dare.utube_link.each do |vid|
      .embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item{:src => "http://www.youtube.com/embed/#{vid}"}
      %br


  - if @dare.voting_in_progress?
    = render 'voting'

  - if @dare.after_voting?
    = render 'voting_result'
