- if @users.empty?	
	%h4
		Sorry, we ain't have nobody like that
- else
	- @users.each do |user|
		%h3	
			= link_to user.username, user_path(user)
			has completed
			= pluralize user.accepted_dares.where('status = ?', 'Success').count, 'challenge'
		= form_for([@challenge, @dare]) do |f|
			- @dare.challenger_id = current_user.id
			- @dare.challenge_id = @challenge.id
			-@dare.acceptor_id = user.id

			= f.hidden_field :challenger_id
			= f.hidden_field :challenge_id
			= f.hidden_field :acceptor_id
			= f.submit "Challenge!"