.table-responsive
  %table.table#user-ranking
    %thead
      %tr
        %th
          User
        %th
          %span.glyphicon.glyphicon-thumbs-up
        %th
          %span.glyphicon.glyphicon-thumbs-down
        %th
    %tbody
      - User.all.each do |user|
        %tr
          %td
            = user.username
          %td
            = user.completed_challanges.count
          %td
            = user.failed_challenges.count
          %td
            = form_for([@challenge, @dare]) do |f|
              - @dare.challenger_id = current_user.id
              - @dare.challenge_id = @challenge.id
              - @dare.acceptor_id = user.id

              = f.hidden_field :challenger_id
              = f.hidden_field :challenge_id
              = f.hidden_field :acceptor_id
              = f.submit "&#x2713;".html_safe
