- current_user.my_pending_challenges.each do |dare|
	%p
		You have been challenged by 
		= link_to dare.challenger.username, dare.challenger
		to accept
		= link_to dare.challenge.name, dare.challenge
	= form_for([dare.challenge, dare]) do |f|
		- dare.status = "Accepted"
		= f.hidden_field :status
		= f.submit "Accept", class: "btn btn-primary"


- current_user.challenges_ending_tomorrow.each do |c|
	%p
		Your time to finish
		= c.challenge.name
		is ending in
		= c.finishing_in
		days