#notifications
	- current_user.my_pending_challenges.each do |dare|
		%p
			You have been challenged by 
			= link_to dare.challenger.username, dare.challenger
			to accept
			= link_to dare.challenge.name, dare.challenge
		= form_for([dare.challenge, dare]) do |f|
			- dare.status = "Accepted"
			- dare.start_date = DateTime.now
			= f.hidden_field :status
			= f.hidden_field :start_date
			= f.submit "Accept", class: "btn btn-primary"
			= form_for([dare.challenge, dare]) do |f|
				- dare.status = "Rejected"
				- dare.end_date = DateTime.now
				= f.hidden_field :status
				= f.hidden_field :end_date
				= f.submit "Reject", class: "btn btn-danger"

	- current_user.challenges_ending_tomorrow.each do |c|
		%p
			Your time to finish
			= link_to c.challenge.name, c.challenge
			is ending in
			- if c.start_date
				= c.finishing_in
				days

