#notifications
	- current_user.my_pending_challenges.each do |dare|
		%p
			You have been challenged by 
			= link_to dare.challenger.username, dare.challenger
			to accept
			= link_to dare.challenge.name, challenge_dare_path(dare.challenge, dare)
		= render partial: 'shared/accept_reject_challenge', locals: {:dare => dare}

	- current_user.challenges_ending_tomorrow.each do |c|
		%p
			Your time to finish
			= link_to c.challenge.name, challenge_dare_path(c.challenge, c)
			is ending in
			- if c.start_date
				= c.finishing_in
				days
