- if user_signed_in?
  = render 'users/user_info'

    
  %h3 Notifications:
  #notifications
    = render 'users/user_notifications'


  %h3 Accepted Challenges:
  = render 'challenges/accepted_challenges'

  %h3 You have challenged:
  = render 'challenges/i_challenged'

  = link_to new_challenge_path do
    %button.btn.btn-lg.btn-info New Challenge


- else
  = link_to new_user_session_path do
    %button.btn.btn-sm.btn-default Sign in
  = link_to new_user_registration_path do
    %button.btn.btn-sm.btn-default Sign up

 