%h2= @user.username
%h3= @user.email

%h4
	= @user.username 
	has accepted:
	= pluralize @user.accepted_dares.count, 'challenge'

- @user.accepted_dares.each do |dare|
	%p
		= link_to dare.challenge.name, dare.challenge


%h4 
	= @user.username 
	has challenged:
	= pluralize @challenged_users.count, 'user'

- @challenged_users.each do |i|
	%p
		= link_to i.acceptor.username, i.acceptor

%h4
	= @user.username 
	has completed:
	= pluralize @user.completed_challanges.count, 'challenge'

- @user.completed_challanges.each do |completed_challenge|
	%p
		= link_to completed_challenge.name, completed_challenge

%h4
	= @user.username 
	has failed at:
	= pluralize @user.failed_challenges.count, 'challenge'

- @user.failed_challenges.each do |failed_challenge|
	%p
		= link_to failed_challenge.name, failed_challenge