- if user_signed_in?
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
            Notifications:
            %span#pending-notifications= current_user.my_pending_challenges.count if current_user.my_pending_challenges.any?

      #collapseOne.panel-collapse.collapse.in.panel-body.user_panel
        = render 'users/user_notifications'
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
            Accepted Challenges:
      #collapseTwo.panel-collapse.in.collapse
        .panel-body.user_panel
          = render 'challenges/accepted_challenges' 
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
            You have challenged:
      #collapseThree.panel-collapse.in.collapse
        #i_challenged.panel-body.user_panel
          = render 'challenges/i_challenged'
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
            Recently put to the vote:
      #collapseFour.panel-collapse.in.collapse
        .panel-body.user_panel
          = render 'shared/newest_voting'
  = link_to new_challenge_path do
    %button.btn.btn-lg.btn-info New Challenge


 