%h3
	= link_to challenge.name, challenge_path(challenge)
%h5
	= challenge.description

- if user_signed_in?
	.btn-group
		- unless current_user.already_accepted_this_challenge?(challenge)
			= form_for [challenge, Dare.new(acceptor_id: current_user.id, challenger_id: current_user.id, challenge_id: challenge.id)] do |f|
				= f.hidden_field :acceptor_id
				= f.hidden_field :challenger_id
				= f.hidden_field :challenge_id
				= f.submit "Accept", class: "btn btn-success challenge-yourself"
		= link_to new_challenge_dare_path(challenge) do
			%button.btn.btn-primary.challenge-others Challenge others
- else
	= link_to new_user_session_path do
		%button.btn.btn-primary Sign in to use this challenge!
		