= form_for @challenge, remote: true do |f|
  - if @challenge.errors.any?
    #error_explanation
      = render 'errors'

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
