%p#notice= notice

%p
  %b Completed by:
  = pluralize @challenge.completed_by.count, 'user'
  - @challenge.completed_by.each do |i|
    = link_to i.acceptor.username, i.acceptor

%p
  %b Accepted by:
  = pluralize @challenge.accepted_by.count, 'user'
  - @challenge.accepted_by.each do |i|
    = link_to i.acceptor.username, i.acceptor

%p
  %b Rejected by:
  = pluralize @challenge.rejected_by.count, 'user'
  - @challenge.rejected_by.each do |i|
    = link_to i.acceptor.username, i.acceptor

%p
  %b Name:
  = @challenge.name
%p
  %b Description:
  = @challenge.description


%h5.display-inline
  Invite you friend to try out this challenge!

.fb-send{"data-colorscheme" => "light", "data-href" => "http://simon-challenger.herokuapp.com"}

.control-buttons
  = link_to 'Edit', edit_challenge_path(@challenge)
  \|
  = link_to 'Back', challenges_path
