!!!
%html
	%head
		%title Challenger
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', "https://js.stripe.com/v1/", 'data-turbolinks-track' => true
	= csrf_meta_tags
	= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
	%body
		.nav
			= link_to 'Home', challenges_path
		.container
			.row
				.col-sm-8
					= render 'layouts/messages'
					= yield
				.col-sm-4
					= render "shared/accordion"
	