!!!
%html
	%head
		%title Challenger
	%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', "https://js.stripe.com/v1/", 'data-turbolinks-track' => true
	= csrf_meta_tags
	= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY']
	%body
		.nav
			= render 'layouts/navbar'
		.container
			.row
				.col-xs-8
					= render 'layouts/messages'
					= yield
				.col-xs-4
					= render "shared/accordion"
	