!!!
%html
	%head
		%title Challenger
	%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	%body
		.nav
			= render 'layouts/navbar'
		.container
			.row
				.col-sm-8
					= render 'layouts/messages'
					= yield
				.col-sm-4
					= render "shared/accordion"
	